@charset "UTF-8";

body {background-color: #343a40;}
body > div {padding: 0 !important;}

a {color: wheat;}
a:hover {color: wheat;}

.header {border-bottom: 1px solid rgba(169, 169, 169, .5);}
.header > nav > ul {width: 100%;}
.header > nav > ul > .header-btns {margin-left: auto;}
.header > nav > ul > .header-btns > .btn-group > .dropdown-menu {right: 0%; top: 125%; left: unset; background-color: #343a40; color: white; border: 1px solid rgba(169, 169, 169, .5);}
.header > nav > ul > .header-btns > .btn-group > .dropdown-menu > form {padding: 10px;}
.header > nav > ul > .header-btns > .btn-group > .dropdown-menu > form > div:nth-child(5) {text-align: center; margin-top:10px;}

/* -------------------- index.jsp End ---------------------------------- */

